@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* background colors and hover states */
    --bright-orange: hsl(31, 77%, 52%);

    --dark-cyan: hsl(184, 100%, 22%);

    --very-dark-cyan: hsl(179, 100%, 13%);

    /* colors and button borders */
    --white: hsl(0, 0%, 100%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);

    --very-light-gray: hsl(0, 0%, 95%);
}



*,
*:before,
*:after {

    box-sizing: inherit;
}

html {
    /* size */
    box-sizing: border-box;
    /* set 1rem=10px */
    font-size: 62.5%;



    /* background */
    background-color: var(--very-light-gray);
}

/* ########## Mobile first ########## */
body {

    /* Typographie */
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--transparent-white);
    text-align: left;

    /* size and space */
    margin: 7rem auto;
    padding: 0;
    width: 90%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    /* typographie */
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    color: var(--white);
    font-size: 3.2rem;

    /* space */
    margin-top: 0;
    padding-top: 2rem;
}

p {
    margin-bottom: 4.3rem;
}

.luxury {
    background-image: url(images/icon-luxury.svg);
}

.sedans {
    background-image: url(images/icon-sedans.svg);
}

.suvs {
    background-image: url(images/icon-suvs.svg);
}

.luxury,
.sedans,
.suvs {
    /* size and space */
    width: 30%;
    max-width: 13rem;
    height: 5rem;

    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

article:first-of-type {
    background-color: var(--bright-orange);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

article:nth-of-type(2) {
    background-color: var(--dark-cyan);
}

article:last-of-type {
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

article {
    padding: 4rem 4rem 4rem 4rem;
}

article:first-of-type a {
    color: var(--bright-orange);
}

article:nth-of-type(2) a {
    color: var(--dark-cyan);
}

article:last-of-type a {
    color: var(--very-dark-cyan);
}

article a {
    /* typograohie */
    font-family: inherit;
    line-height: 1.7;
    text-align: center;
    text-decoration: none;

    background-color: var(--white);

    /* size and space */
    max-width: 12.6rem;
    padding: 0.5em 0.5em;
    border: 0;
    border-radius: 2rem;

    cursor: pointer;
    display:block;
    min-width: 60%;
}

footer {
    font-size: 1.1rem;
    text-align: center;
    color: black;
}

footer a {
    color: hsl(228, 45%, 44%);
}

/* ######### hover state ########## */
article:first-of-type a:hover {
    background-color: var(--bright-orange);
}

article:nth-of-type(2) a:hover {
    background-color: var(--dark-cyan);
}

article:last-of-type a:hover {
    background-color: var(--very-dark-cyan);
}

article a:hover {
    color: var(--white);
    border: 1px solid var(--white);
}

/* ########## Desktop ########## */
@media (min-width: 41em) {
    body {
        width: 80%;
        margin: 20vh auto 15vh auto;
    }

    main {
        display: flex;
        flex-direction: row;
    }

    article {
        display: flex;
        flex-direction: column;
        min-width: 33%;
    }
    
    article a{   
        
    padding-left: 0.5em;
    padding-right: 0.5em;
    }

    article:first-of-type {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }

    article:last-of-type {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }


    article div:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 0 auto;
    }

    article div:last-of-type p {
        margin-top: 0;
    }

    article h1 {
        padding-top: 1rem;
    }
}
